@use "sass:math";

@import url("https://fonts.cdnfonts.com/css/avenir-next-lt-pro");
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,900&display=swap");

// colors
$fade: #fbfbfb;
$white: #ffffff;
$blue: #5718ff;
$primary: #213f7d;
$secondary: #545f7d;
$info: #39cdcc;
$error: #e4033b;
$success: #39cd62;
$warning: #e9b200;
$orange: #f55f44;
$purple: #df18ff;

// font sizes
$twelve: 12px;
$fourteen: 14px;
$sixteen: 16px;
$twenty: 20px;
$twenty-four: 24px;
$fourty: 40px;

// font weights
$light: 400;
$normal: 500;
$bold: 600;
$bolder: 700;

// Base styles
$base-padding: 0.75rem;

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Avenir Next LT Pro", sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.font-sans {
  font-family: "Work Sans", sans-serif !important;
}

.flex {
  display: flex !important;
}

.items-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.relative {
  position: relative;
}

// color Pallete
$colors: (
  "primary": $primary,
  "secondary": $secondary,
  "info": $info,
  "error": $error,
  "success": $success,
  "warning": $warning,
  "orange": $orange,
  "purple": $purple,
  "fade": $fade,
  "blue": $blue,
);

// Font weights
$weights: (
  "400": $light,
  "500": $normal,
  "600": $bold,
  "700": $bolder,
);

$sizes: (
  "12": $twelve,
  "14": $fourteen,
  "16": $sixteen,
  "20": $twenty,
  "24": $twenty-four,
  "40": $fourty,
);

@mixin background-opacity($color, $opacity: 0.1) {
  background: $color; /* The Fallback */
  background: rgba($color, $opacity);
}

// Text and background colors Variant
@each $key, $val in $colors {
  .text-#{$key} {
    color: $val !important;
  }
  @if ($val == #ffffff) {
    .bg-#{$key} {
      background: $val;
    }
  } @else if ($val == #fbfbfb) {
    .bg-#{$key} {
      background: $val;
    }
  } @else if ($val == #39cdcc) {
    .bg-#{$key} {
      background: $val;
    }
  } @else {
    .bg-#{$key} {
      @include background-opacity($val, 0.1);
    }
  }
}

// Font weights
@each $key, $val in $weights {
  .font-#{$key} {
    font-weight: $val !important;
  }
}

// Font sizes
@each $key, $val in $sizes {
  .font-#{$key} {
    font-size: $val !important;
  }
}

.h-100 {
  height: 100vh;
  overflow-y: hidden !important;
}

.img-fluid {
  max-width: 100%;
}

.pointer {
  cursor: pointer !important;
}

.auth_container {
  overflow: hidden !important;
}

a {
  text-decoration: none !important;
}

// Modified Mui Styles
.MuiOutlinedInput-notchedOutline {
  border-width: 2px !important;
  border-color: rgba(84, 95, 125, 0.15) !important;
  border-radius: 5px !important;
}

.MuiTypography-root {
  font-family: "Work Sans", sans-serif !important;
}

/* width */
.css-41abqd-MuiTableContainer-root::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

/* Track */
.css-41abqd-MuiTableContainer-root::-webkit-scrollbar-track {
  border-radius: 10px;
}

/* Handle */
.css-41abqd-MuiTableContainer-root::-webkit-scrollbar-thumb {
  background: #c0c0c0;
  border-radius: 10px;
}

/* Handle on hover */
.css-41abqd-MuiTableContainer-root::-webkit-scrollbar-thumb:hover {
  background: #9a9a9a;
}

/* Mui styles */
.MuiTablePagination-selectLabel {
  color: #545f7d;
  font-size: 12px;
  font-weight: 500;
  font-family: "Inter", sans-serif !important;
}

.MuiSelect-select.MuiTablePagination-select {
  color: #545f7d;
  font-size: 12px;
  font-weight: 500;
  font-family: "Inter", sans-serif !important;
}

.MuiTablePagination-displayedRows {
  color: #545f7d;
  font-size: 12px;
  font-weight: 500;
  font-family: "Inter", sans-serif !important;
}

.MuiFormControlLabel-label {
  font-size: 14px !important;
  font-weight: 400 !important;
  color: #545f7d;
}

// Modify React select styles

.css-13cymwt-control {
  border: 2px solid rgba(84, 95, 125, 0.15) !important;
}

.css-1u9des2-indicatorSeparator {
  display: none !important;
}
